<!DOCTYPE html>
<html>

<head>
    <title>Изучаем Vue.js</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <input type="text" v-on:input="setMessage" />
        <p>{{message}}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message" class="my_cls">
    Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Перевернуть сообщение</button>
    </div>










    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="code.js"></script>

</body>

</html>