<!DOCTYPE html>
<html>

<head>
    <title>Изучаем Vue.js</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div>
        <fieldset>
            <legend>Write any examples below...</legend>
            <label for="frst" class="my_cls">Label for first field: </label>
            <input type="text" id="frst" name="frst" class="my_input" placeholder="Input your name here" /> <br>
            <input type="search" autofocus name="poisk" placeholder="field for searching..." /><br>
            <div>
                <span class="my_cls">I set my_cls class here</span><input type="checkbox" class="my_cls pribor" /><br>
            </div>
            <input type="number" id="age" name="age" step="1" min="1" max="140" value="10" />
            <br>
            <label for="price">Set your price here: </label>
            <input type="range" id="price" class="my_cls" step="100" min="0" max="1000" />
            <br>
            <input type="submit" value="Input submit" />
            <br>
            <button type="button" value="Fill Form">Button for you</button><br>

            <input list="phonesList" type="text" size="50" name="model" placeholder="input your model..." />
            <datalist id="phonesList">
                <option value="iPhone 6S" label="54000"/>
                <option value="Lumia 950">35000</option>
                <option value="Nexus 5X"/>
            </datalist>
            <br>
            <input type="color" /><br>
        </fieldset>
    </div>

    <hr class="my_input">
    <div class="my_block">
        <label for="bday">Input your favorite date: </label>
        <input type="date" id="bday" placeholder="09.11.1962">

    </div>
    <aside style="float:right; width: 200px">
        <p>Только сейчас элемент aside</p>

    </aside>

    <hr>
    <div id="app">
        <input type="text" size="30" v-on:input="setMessage" />
        <p>{{message}}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message" class="my_cls">
    Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-6">
        <p class="my_cls">{{ message }}</p>
        <input v-model="message">
    </div>








    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="code.js"></script>

</body>

</html>